
      <style>
        /* CSS styles */
        /* Corpo geral do site */
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }
        /* Cabecalho */
        header {
          background-color: #333;
          color: #fff;
          padding: 20px;
          text-align: center;
        }
        /* barra de paginas dentro site */
        nav {
          background-color: #f4f4f4;
          padding: 10px;
        }
        
        nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        nav ul li {
          display: inline;
          margin-right: 10px;
        }
        /* */
        nav ul li a {
          color: #333;
          text-decoration: none;
          padding: 5px 10px;
        }
        /* arte em si */
        .gallery {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px; /* entre arte */
          padding: 20px; /* cima e baixo da arte */
        }
        
        .gallery img {
          width: 100%;
          height: auto;
        }
        /* rodape */
        footer {
          background-color: #333;
          color: #fff;
          padding: 20px;
          text-align: center;
        }
      </style>
